@charset "UTF-8";

:root {
    --green: #289e19;
    --dark: #505050;
    --darker: #0f0f0f;
    --light: #eee;
    --lighter: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: montserrat-regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    color: var(--dark);
    background-color: var(--light);
}

header {
    font-size: 0.8rem;
    background-color: var(--light);
    position: sticky;
    top: 0;
    z-index: 10;
}

section {
    margin-bottom: 6rem;
}

nav {
    max-width: 1200px;
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0.7rem;
}

li {
    display: block;
}

a {
    text-decoration: none;
    color: var(--dark);
    transition: 0.3s all;
}

a:hover {
    color: var(--darker);
}

.search-container {
    position: relative;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    transition: width 0.4s ease;
    width: 30px;
}

.search-bar {
    padding: 4px 8px;
    border: 1px solid var(--dark);
    border-radius: 2em;
    opacity: 0;
    width: 0;
    transition: width 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
}

.search-bar:focus {
    outline: none;
}

.search-btn {
    position: absolute;
    right: 8px;
    width: 12px;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease;
}

.create-account-btn {
    background-color: var(--darker);
    color: var(--lighter);
    padding: 6px 10px;
    border-radius: 2em;
}

.create-account-btn:hover {
    color: var(--light);
}

.hero {
    height: 80vh;
    background-image: url("../images/iphone_wallpaper3.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: var(--light);
    animation: zoomIn 14s ease-in-out infinite alternate;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 1em;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero .company-name {
    background: linear-gradient(270deg, #ff6ec4, #7873f5, #4ade80, #5498ff, #ff6ec4);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 6s ease infinite;
}

.hero p {
    font-size: 1.2rem;
}

.cta-btn {
    background-color: var(--lighter);
    color: var(--darker);
    padding: 0.8em 1.5em;
    width: fit-content;
    margin: auto;
    border-radius: 2em;
    transition: background 0.3s ease;
    font-weight: bold;
}

.cta-btn:hover {
  background-color: var(--light);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0.7rem;
}

.container h2 {
    margin-bottom: 3rem;
    color: var(--darker);   
}

.flex-container {
    margin-top: 1rem;
    overflow: hidden;
    padding: 0;
}

.item {
    display: flex;
    flex-direction: column;
    background-color: var(--lighter);
    padding-bottom: 1em;
    border-radius: 1em;
    gap: 0.5rem;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s  ease, transform 0.3s  ease;
}

.item:hover {
    cursor: pointer;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.item img {
    width: 210px;
    border-radius: 1em
}

.item button {
    padding: 0.3rem;
    margin: 0 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: var(--green);
    color: var(--lighter);
}

.about p {
    max-width: 500px;
    font-size: 2rem;
    padding: 2rem;
}

.about img {
    border-radius: 1rem;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes zoomIn {
    0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}