@charset "UTF-8";

:root {
    --green: #289e19;
    --cyan : #00c4cc;
    --dark: #505050;
    --darker: #0f0f0f;
    --light: #eee;
    --lighter: #fff;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border: 0.15em solid #fff;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--darker);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: montserrat-regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    color: var(--dark);
    background-color: var(--light);
}

.mobile-only {
    display: none;
}

.container {
    max-width: 1200px;
    min-height: 70vh;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h2 {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
    color: var(--darker);   
}

ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

li {
    display: block;
}

a {
    text-decoration: none;
    color: var(--dark);
    transition: 0.3s all;
}

a:hover {
    color: var(--cyan);
}

/* Header */

header {
    font-size: 0.8rem;
    background-color: var(--light);
    position: sticky;
    top: 0;
    z-index: 10;
    transition: 0.4s all;
}

header.scrolled {
    background-color: var(--lighter);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

nav {
    max-width: 1200px;
    padding: 0.6rem 1rem;
    margin: auto;
}

nav .mobile-menu {
    display: none;
}

.search-container {
    position: relative;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    transition: width 0.4s ease;
    width: 30px;
}

.search-bar {
    padding: 4px 8px;
    border: 1px solid var(--dark);
    border-radius: 2em;
    opacity: 0;
    width: 0;
    transition: width 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
}

.search-bar:focus {
    outline: none;
}

.search-btn {
    position: absolute;
    right: 8px;
    width: 12px;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease;
}

.create-account-btn {
    background-color: var(--darker);
    color: var(--lighter);
    padding: 6px 10px;
    border-radius: 2em;
}

.create-account-btn:hover {
    color: var(--light);
    background-color: var(--cyan);
}

/* Hero Section */

.hero {
    height: 85vh;
    background-image: url("../images/iphone_wallpaper3.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
    position: relative;
    animation: zoomIn 14s ease-in-out infinite alternate;
}

.hero::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, transparent, var(--light));
    bottom: 0;
    height: 45%;
    left: 0;
    width: 100%;
    z-index: 3;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 1em;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero .gradient-background {
    background: linear-gradient(90deg, #00c4cc, #7873f5, #ff6ec4, #00c4cc, #ff6ec4);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 6s ease infinite;
}

.hero p {
    font-size: 1.2rem;
}

.hero .cta-btn {
    background-color: var(--darker);
    color: var(--lighter);
    padding: 0.8em 1.5em;
    width: fit-content;
    margin: auto;
    border-radius: 2em;
    font-weight: bold;
}

.hero .cta-btn:hover {
    background-color: var(--cyan);
    color: var(--light);
}

/* Main Products Section */

.main-products .flex-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.main-products .item {
    display: flex;
    flex-direction: column;
    background-color: var(--lighter);
    padding-bottom: 1em;
    border-radius: 1em;
    gap: 0.5rem;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s  ease, transform 0.3s  ease;
}

.main-products .item:hover {
    cursor: pointer;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.main-products .item img {
    width: 100%;
    max-width: 210px;
    border-radius: 1em;
}

.main-products .item button {
    padding: 0.3rem;
    margin: 0 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: var(--green);
    color: var(--lighter);
}

/* About Section */

.about {
    background-image: url("../images/reparo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.about::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: 3;
}

.about .container {
    text-align: center;
}

.about h2 {
    color: #fff;
    margin-bottom: 0;
    z-index: 4;
    font-size: 3rem;
}

.about p {
    color: var(--lighter);
    font-size: 1.6rem;
    padding: 2rem;
    z-index: 4;
}

.about img {
    border-radius: 1rem;
}

/* Services Section */

.services ul {
    align-items: start;
}

.services li img {
    background-color: var(--cyan);
    padding: 0.5rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.services h3 {
    margin-bottom: 0.5rem;
}

.services p {
    max-width: 300px;
}

/* Testimonials Section */

.testimonials {
    background-color: #f9f9f9;
    text-align: center;
    overflow: hidden;
}

.testimonials h2 {
    margin-bottom: 4rem;
    font-size: 2rem;
}

.testimonials .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.testimonials .carousel-list {
    animation: scroll 60s linear infinite;
    width: max-content;
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.testimonials .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    margin: 0 1rem;
    background: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    flex-shrink: 0;
}

.testimonials .carousel-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.testimonials .carousel-item p {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.testimonials .carousel-item blockquote {
    font-style: italic;
}

.testimonials .carousel-item .stars {
    color: goldenrod;
    font-size: 1.2rem;
}

footer {
    background-color: var(--darker);
    color: var(--light);
    padding: 1rem;
    font-size: 0.9rem;
}

footer .container {
    min-height: fit-content;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.footer-section p {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-section img {
    width: 18px;
    background-color: #00c4cc;
    border-radius: 2rem;
    padding: 2px;
}

.footer-section h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #00c4cc;
}

.footer-section ul {
    padding: 0;
    flex-direction: column;
    align-items: start;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section a {
    display: flex;
    gap: 0.5rem;
    color: var(--light);
}

.footer-section a:hover {
    color: #00c4cc;
}


.footer-bottom {
    border-top: 1px solid #333;
    text-align: center;
    padding-top: 1rem;
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #aaa;
}

.footer-bottom a {
    color: var(--light);
}

.footer-bottom a:hover {
    color: #00c4cc;
}


@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes zoomIn {
    0% {
    background-size: 100%;
    }
  100% {
    background-size: 120%;
    }
}

@keyframes scroll {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(-50%);
    }
}